@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&family=Roboto:wght@400;500;700&display=swap');

/* font-family: 'Playfair Display', serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* navbar */
/* h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
}
h1.normal, h2.normal, h3.normal, h4.normal {
    font-family: 'Roboto', sans-serif;
} */

.custom-container {
    padding-left: 20px !important;
    padding-right: 40px !important;
}

.common-container-1 {
    /* box-shadow: 0 0 10px #f6f6f6; */
    border-radius: 10px;
    padding: 25px 35px;
}

.navbar {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    text-transform: uppercase;
    box-shadow: 0 8px 15px #ded8d8;
    border-bottom: 1.5px solid #dfdfdf;
    --webkit-box-shadow: 0 8px 15px #ded8d8;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    justify-content: space-around;
}

.nav-item a {
    font-weight: 300 !important;
    font-size: 18px;
}

.nav-item .active {
    border-bottom: 2px solid #000;
}

.cart-link {
    position: relative;
}

.cart-link span {
    position: absolute;
    top: -5px;
    background: #9d1616;
    /* padding: 0 5px; */
    text-align: center;
    color: #fff;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    font-size: 16px;
    line-height: 25px;
}

/* ============ */
/* Page not found */
.pnf-container {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #444;
}

.pnf-title {
    font-weight: 700;
    font-size: 100px;
}

.pnf a {
    border: 1px solid #222;
    padding: 12px 20px;
    margin-top: 18px;
    display: inline-block;
    text-decoration: none;
    color: #000;
    transition: .2s;
    border-radius: 5px;
}

.pnf a:hover {
    background: #000;
    color: #fff;
}

/* =========== */
/* contact */
.row-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ================== */
/* footer */
.footer {
    background: linear-gradient(to right, #345, #111, #314);
    padding: 26px;
}

.footer div {
    text-align: center;
}

.footer div a, .footer div span {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.footer div a:hover {
    border-bottom: 2px solid #aaa;
}

/* form */
.auth-bg {
    background: linear-gradient(to bottom, rgba(248, 248, 248, 0.25), rgba(19, 159, 202, 0.21));
}

.auth-headerText {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}

.auth-form {
    border-radius: 5px;
    padding: 20px 40px;
    background: #fff;
    box-shadow: 0 0 2rem #cdc4c4;
}

.auth-form input, .auth-form input:focus, .auth-form select {
    border: none;
    background: transparent;
    border-bottom: 2px solid #7b7474;
    border-radius: 0;
    outline: none !important;
    width: 100%;
}

.auth-form button {
    background: black;
    color: #fff;
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 19px;
}

.auth-form button:disabled {
    background: black !important;
}

/* admin question edit delete button */
.action_btn {
    background: #0000004c;
    width: 30px;
    height: 30px;
    display: block;
    margin: auto;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

.action_btn:hover {
    transform: scale(1.1);
}

.action_edit {
    background: rgb(5, 117, 5);
}

.action_delete {
    background: rgb(117, 5, 33);
}

.common-container-1 {
    box-shadow: 0 0 10px 8px #cbc8c8;
    border-radius: 10px;
    padding: 25px 35px;
}

/*  =========== admin panel======= */
.photo-cancel-btn{
    position: absolute;
    right: 10px;
    top: 10px;
}

.product-grid-admin{
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
       grid-template-columns: repeat(auto-fit, 250px);
       gap: 2rem;
       justify-content: center;
}
.product-grid{
    display: grid;
       grid-template-columns: repeat(auto-fit, minmax(290px, 320px));
       gap: 1rem;
       justify-content: center;
       /* padding: 1rem; */
}

.product-grid-admin > a{
    margin: 10px;
}

.product-link-admin{
    color: #000;
    text-decoration: none;
}
.product-card{
    min-width: 250px !important;
    transition: .2s;
}

.product-card:hover{
    box-shadow: 0 0 1rem #cfcdcd;
}

@media (max-width: 768px) {
    /* .product-grid-admin{
        grid-template-columns: repeat(auto-fit, 250px);
    } */
}

@media (max-width: 600px) {
    /* .product-grid-admin{
        grid-template-columns: repeat(2, 1fr);
    } */

    .product-grid-admin > a{
    margin: 5px;
}
}

@media (max-width: 375px) {
    /* .product-grid-admin{
        grid-template-columns: 1fr;
    } */
}